.ani-menu a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -.2rem;
    height: .3rem;
    width: 100%;
    scale: 0 1;
    background-color: var(--themes-primary);
    border-radius: 1rem;
}

.ani-menu a:hover::after {
    transform-origin: left;
    animation-name: scaleX;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    /* animation: scaleX .2s ease-in-out both; */
    cursor: pointer;

}

header::after {
    content: '';
    position: fixed;
    top: 7.6rem;
    height: .3rem;
    width: 100%;
    background-color: var(--border-color);
    scale: 0 1;
    transform-origin: left;
    animation-name: scaleX;
    animation-timing-function: linear;
    /* animation: scaleX linear; */
    animation-timeline: scroll();
}

p, li, footer a, .avatar {
    animation-name: scrollReveal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    /* animation: scrollReveal ease-in-out both; */
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}

#back-to-top {
    animation-name: backTopReveal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    /* animation: backTopReveal ease-in-out both; */
    animation-timeline: view();
    animation-range: entry cover 100%;
}

#greetings::before, #greetings::after, #greetings > div::after, .decoration-item {
    animation-name: reveal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    /* animation: reveal ease-in-out both; */
    animation-timeline: view();
    animation-range: entry cover 100%;
}

#back-to-top:hover {
    box-shadow: 0 0 0 .4rem var(--themes-primary)
}

.ani-fade-in {
    animation-name: fadeIn;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 30% cover 50%;
}

.theme-transition {
    animation-name: themeSwitch;
    animation-duration: .5s;
    animation-timing-function: ease;
    /* animation: themeSwitch .5s ease; */
}

.btn-filled-icon:hover, .btn-icon-filled:hover {
    animation-name: transparentBackground;
    animation-timing-function: ease-in-out;
    animation-duration: .2s;
    animation-fill-mode: both;
    cursor: pointer;
}

.ani-rotate {
    animation-name: rotate;
    animation-timing-function: linear;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes transparentBackground {
    to {
        background-color: transparent;
        color: var(--themes-primary);
        box-shadow:inset 0 0 0 0.16rem var(--themes-primary);
    }
}

@keyframes themeSwitch {
    from { opacity: .5; }
    to { opacity: 1; }
  }

@keyframes scaleX {
    to {scale: 1 1; opacity: 1;}
}

@keyframes fadeIn {
    from {
        scale: .8;
        opacity: .5;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

@keyframes scrollReveal {
    from {
        opacity: 0;
        transform: translateY(4rem); 
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes backTopReveal {
    from {
        opacity: 0;
        scale: .8;
        transform: translateY(20rem); 
    }
    
    to {
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }
}

@keyframes reveal {
    from {
        transform: translateY(20rem); 
    }
    
    to {
        transform: translateY(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}