/* Tablet */
@media (max-width: 1023px) {

    #greetings::after {
        right: 4.8rem;
    }

    .padx {
        padding-left: 4.8rem;
        padding-right: 4.8rem;
    }

    .flex-container {
        flex-direction: column;
    }
}

/* Mobile */
@media (max-width: 740px) {

    #greetings::before {
        top: 2vh;
    }

    #greetings::after {
        right: 1.6rem;
        bottom: 16vh
    }

    #greetings > div::after {
        bottom: 20vh;
    }

    .padx {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }
    
    .menu-icon {
        display: block !important;
    }
    
    
    
    .menu-navigation {
        position: relative;
    }
    
    .menu-navigation:focus-within .navigation {
        display: flex;
        position: absolute;
        top: 6.4rem;
        left: -40vw;
        right: -40vw;
        z-index: 1;
        padding: 1rem;
        border-radius: 10rem;
        backdrop-filter: blur(1rem);
        border: .01rem solid var(--themes-neutral);
    }
    
    .navigation {
        display: none;
    }

    .flex-container {
        flex-direction: column;
    }
    
    .text-display {
        font-size: var(--mobile-size-display);
    }
    
    mobile-center {
        justify-content: center;
    }

    .h1 {
        font-size: var(--mobile-size-h1);
    }
    
    .h2 {
        font-size: var(--mobile-size-h2);
    
    }
    
    .h3 {
        font-size: var(--mobile-size-h3);
    
    }

    .h6 {
        font-size: var(--mobile-size-h6);
    }
}