#main {
    
}

.block {
    display: block;
}

.none {
    display: none;
}

.inline-block {
    display: inline-block;
}

.pos-rel {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
} 

.right-0 {
    right: 0;
} 

.z-1 {
    z-index: 1;
}

.surface {
    background-color: var(--themes-surface);
}

.size-48 {
    height: 48px;
}

.flex {
    display: flex;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

/* .flex-1-1 {
    flex: 1 0;
} */

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.justify-start {
    justify-content: start;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-start {
    align-items: start;
}

.align-end {
    align-items: end;
}

.align-center {
    align-items: center;
}

.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.padx {
    padding-left: 12rem;
    padding-right: 12rem;
}

.pad-8 {
    padding: 0.8rem;
}

.px-24 {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

.py-120 {
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.py-60 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.pb-60 {
    padding-bottom: 6rem;
}

.pb-120 {
    padding-bottom: 12rem;
}

.pt-240 {
    padding-top: 22rem;
}

.pt-100 {
    padding-top: 10rem;
}

.py-24 {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}

.py-16 {
    padding: 1.6rem 0;
}

.mt-120{
    margin-top: 12rem;
}

.mt-200{
    margin-top: 20rem;
}

.mt-64 {
    margin-top: 6.4rem;
}

.mt-32 {
    margin-top: 3.2rem;
}

.mt-16 {
    margin-top: 1.6rem;
}

.mb--6 {
    margin-bottom: -0.6rem;
}

.mb-48 {
    margin-bottom: 4.8rem;
}

.mb-24 {
    margin-bottom: 2.4rem;
}

.mb-20 {
    margin-bottom: 2rem;
}

.mb-16 {
    margin-bottom: 1.6rem;
}

.ml-20 {
    margin-left: 2rem;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-top: auto;
}

.gap-8 {
    gap: .8rem;
}

.gap-12 {
    gap: 1.2rem;
}

.gap-64 {
    gap: 6.4rem;
}

.gap-40 {
    gap: 4rem;
}

.gap-24 {
    gap: 2.4rem;
}

.border-bot {
    border-bottom: .1rem solid var(--border-color);
}

.border-round {
    border: .1rem solid var(--border-color);
    border-radius: .8rem;
}

.primary {
    color: var(--themes-primary);
}

.secondary {
    color: var(--themes-secondary);
}

.neutral {
    color: var(--themes-neutral);

}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.rad-8 {
    border-radius: .8rem;
}
.img-4-3 {
    padding-top: 75%; /* 4:3 Aspect Ratio (divide 3 by 4 = 0.75) */
}

.img-1-1 {
    padding-top: 100%;
}

.min-h {
    min-height: 30rem;
}
.profile-image {
    min-height: 30rem;
    max-height: 48rem;
    background: url('../img/profile_image.png') center /contain no-repeat;
}

.avatar {
    min-width: 7.8rem;
    min-height: 7.8rem;
    border-radius: 100%;
}

#avatar-01 {
    background: url('https://res.cloudinary.com/dxaobwm8l/image/upload/v1721445878/w0hr3lg6ucv8kvnweppg.jpg') top center / cover no-repeat;
} 

#avatar-02 {
    background: url('https://res.cloudinary.com/dxaobwm8l/image/upload/v1721445878/lvrrektm3orwkzvzswqt.jpg') top center / cover no-repeat;
}

#project-cover-1 {
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/f60015204670289.66acca839cc7a.png') no-repeat top center / cover;
}

#project-cover-2 {
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/850240203429971.669764d9badfd.png') no-repeat top right / cover;
}

#project-cover-3 {
    background: url('https://s3-figma-hubfile-images-production.figma.com/hub/file/carousel/img/f6e56e149b225b9c8c83fedb25ba233c7832afbc') no-repeat top right / cover;
}

.btn-outline {
    padding: .6rem 2.4rem;
    color: var(--themes-primary);
    border: .16rem solid var(--themes-primary);
    border-radius: 10rem;
}

.btn-filled {
    padding: .6rem 2.4rem;
    color: var(--themes-surface);
    background-color:  var(--themes-primary);
    border-radius: 10rem;
}

.btn-filled-icon {
    padding: .6rem 1.6rem .6rem 2.4rem;
    color: var(--themes-surface);
    background-color:  var(--themes-primary);
    border-radius: 10rem;
    font-weight: 700;
}

.btn-icon-filled {
    padding: .8rem;
    color: var(--themes-surface);
    background-color:  var(--themes-primary);
    border-radius: 10rem;
}

mark {
    color: var(--themes-primary);
}

svg path {
    fill: var(--themes-primary);
}

svg.icon-in-btn path {
    fill: var(--themes-surface);
}

#main::after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .25;
    z-index: -1;
    filter: url(#grainy);
}

#back-to-top {
    padding: 1.2rem;
    position: fixed;
    right: 5%;
    bottom: 6rem;
}

.grid {
    display: grid;
}

.grid-col-300-1fr {
    grid-template-columns: repeat(auto-fill, minmax(36rem, 1fr));
}

.grid-1-2 {
    grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
}

.grid-1-1 {
    grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
}

.minw-600 {
    min-width: 60rem;
}

.menu-icon {
    display: none !important;
}

.menu-navigation {
    font-family: var(--primary-font-family);
    background-color: transparent;
    border: none;
}


.h-36 {
    height: 3.6rem;
}

#greetings > div::after {
    content: '[ scroll for more ]';
    color: var(--themes-secondary);
    letter-spacing: .1rem;
    font-size: 1.2rem;
    position: absolute;
    bottom: 10vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#greetings::before {
    content: 'DESIGN—';
    font-size: var(--common-size-display);
    background: linear-gradient(to top, var(--themes-surface), var(--themes-primary));
    background-clip: text;
    color: transparent;
    opacity: 0.1;
    position: absolute;
    top: 7vh;
}

#greetings::after {
    content: 'CODING';
    font-size: var(--common-size-display);
    background: linear-gradient(to top, var(--themes-surface), var(--themes-primary));
    background-clip: text;
    color: transparent;
    opacity: 0.1;
    right: 12rem;
    position: absolute;
    bottom: 10vh;
}

.filter-blur {
    filter: blur(.1rem);
}

.decoration-item {
    z-index: -1;
    font-size: var(--desktop-size-display);
}

.decoration-item.item-1 {
    top: 50vh;
}

.decoration-item.item-2 {
    top: 100vh;
    right: 0;
    opacity: .6;
}

.decoration-item.item-3 {
    top: 16vh;
    right: 4vh;
    font-size: calc(var(--desktop-size-display) - 3rem);
    opacity: .6;
}

.decoration-item.item-4 {
    top: 70vh;
    right: 20vw;
    font-size: calc(var(--desktop-size-display) + 3rem);
}

.tag {
    color: var(--themes-primary);
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: .4rem 1.2rem;
    border: 0.1rem solid var(--themes-primary);
    border-radius: 10rem;
}