#main {
    
}

.block {
    display: block;
}

.none {
    display: none;
}

.inline-block {
    display: inline-block;
}

.pos-rel {
    position: relative;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
} 

.right-0 {
    right: 0;
} 

.z-1 {
    z-index: 1;
} 

.surface {
    background-color: var(--themes-surface);
}

.size-48 {
    height: 48px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

/* .flex-1-1 {
    flex: 1 0;
} */

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.justify-start {
    justify-content: start;
}

.justify-between {
    justify-content: space-between;
}

.jusity-center {
    justify-content: center;
}

.align-start {
    align-items: start;
}

.align-end {
    align-items: end;
}

.align-center {
    align-items: center;
}

.px-120 {
    padding-left: 12rem;
    padding-right: 12rem;
}

.px-24 {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

.py-120 {
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.py-60 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.pb-60 {
    padding-bottom: 6rem;
}

.pb-120 {
    padding-bottom: 12rem;
}

.pt-200 {
    padding-top: 20rem;
}

.pt-100 {
    padding-top: 10rem;
}

.py-24 {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}

.py-16 {
    padding: 1.6rem 0;
}

.mt-120{
    margin-top: 12rem;
}

.mt-200{
    margin-top: 20rem;
}

.mb-24 {
    margin-bottom: 2.4rem;
}

.mb-20 {
    margin-bottom: 2rem;
}

.mb-16 {
    margin-bottom: 1.6rem;
}

.ml-20 {
    margin-left: 2rem;
}

.gap-8 {
    gap: .8rem;
}

.gap-12 {
    gap: 1.2rem;
}

.gap-64 {
    gap: 6.4rem;
}

.gap-40 {
    gap: 4rem;
}

.gap-24 {
    gap: 2.4rem;
}

.border-bot {
    border-bottom: .1rem solid var(--border-color);
}

.border-round {
    border: .1rem solid var(--border-color);
    border-radius: .8rem;
}

.primary {
    color: var(--themes-primary);
}

.secondary {
    color: var(--themes-secondary);
}

.neutral {
    color: var(--themes-neutral);

}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.rad-8 {
    border-radius: .8rem;
}
.img-4-3 {
    padding-top: 75%; /* 4:3 Aspect Ratio (divide 3 by 4 = 0.75) */
}

.avatar {
    min-width: 7.8rem;
    min-height: 7.8rem;
    border-radius: 100%;
}

#avatar-01 {
    background: url('https://scontent.fsgn5-5.fna.fbcdn.net/v/t39.30808-6/435116190_1794745547688837_695033224121990189_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=GwUomeS-8sMQ7kNvgGgtIaC&_nc_ht=scontent.fsgn5-5.fna&oh=00_AYCF4lHnooykr131WqNJOc3mQ30ZGimzOVxbSQ_LhGALSA&oe=668987A7') top center / cover no-repeat;
} 

#avatar-02 {
    background: url('https://scontent.fsgn5-9.fna.fbcdn.net/v/t39.30808-6/371317424_1772892969833831_5758143617223599873_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=vWjPl_W2Tj0Q7kNvgHsu8om&_nc_ht=scontent.fsgn5-9.fna&oh=00_AYC7Xhu_rs6ZBRqt1MayTt8wYx9heSiXp19jnUxQTzCVEg&oe=66898FA3') top center / cover no-repeat;
}

#project-cover-1 {
    background: url('https://s3-figma-hubfile-images-production.figma.com/hub/file/carousel/img/f6e56e149b225b9c8c83fedb25ba233c7832afbc') no-repeat top right / cover;
}

.btn-outline {
    padding: .6rem 2.4rem;
    color: var(--themes-primary);
    border: .16rem solid var(--themes-primary);
    border-radius: 10rem;
}

.btn-filled {
    padding: .6rem 2.4rem;
    color: var(--themes-surface);
    background-color:  var(--themes-primary);
    border-radius: 10rem;
}

.btn-filled-icon {
    padding: .6rem 1.6rem .6rem 2.4rem;
    color: var(--themes-surface);
    background-color:  var(--themes-primary);
    border-radius: 10rem;
}

.btn-icon-filled {
    padding: .8rem;
    color: var(--themes-surface);
    background-color:  var(--themes-primary);
    border-radius: 10rem;
}

mark {
    color: var(--themes-primary);
}

svg path {
    fill: var(--themes-primary);
}

svg.icon-in-btn path {
    fill: var(--themes-surface);
}

#main::after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .25;
    z-index: -1;
    filter: url(#grainy);
}

#back-to-top {
    position: fixed;
    right: 6rem;
    bottom: 6rem;
}

.grid {
    display: grid;
}

.grid-col-300-1fr {
    grid-template-columns: repeat(auto-fill, minmax(36rem, 1fr));
}

.grid-1-2 {
    grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
}

.grid-1-1 {
    grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
}

.minw-600 {
    min-width: 60rem;
}